<div class="row">
  <form @submit.prevent="login" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input v-model="email" id="email" type="email">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input v-model="password" id="password" type="password">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light" type="submit">Submit</button>
    </div>
  </form>
</div>
