// if you don't know where a style should go, put it here.
// if there are a group of styles that are conceptually cohesive, you can put them in their own file.

.grid {
  @include grid-container;
}

.container {
  max-width: 900px;
}

#home {
  .post {
    padding: 45px;
  }
}

nav {
  height: 50px;
  border-bottom: 1px lightgrey solid;
}

header {
  height: 250px;
  background-position: bottom;
}

.hidden {
  display: none;
}

.right {
  float:right;
}
