.full-width {
  width: 100%;
}

.hidden {
  display: none;
}

.right {
  float:right;
}
.background{
  background-color: teal;
  height: 100%;
  margin: 0;
}
.brand{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
